/* Grey section */

   .grey-area {
    background-color: rgb(73, 70, 70);
    height: 400px;
  }
  
  
 /* Flex container 2 with second text and phone */
  
  .flex-container2 {
    display: flex;
    justify-content: center;
    margin: 9vw; 
  }
      
  .text-right {
    font-size: 1.5vw;
    font-weight: 100;
    padding-top: 4vw;
    text-align: right;
  }
  
  
/* Centered paragraf */
  
  .centered-p {
    padding-left: 9.5vw;
    padding-right: 9.5vw;
    padding-bottom: 2vw;
    text-align: left;
    font-size: 1.5vw;
  
  }