* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

/* header */

header {
  background-image: url(bilder/header.png);
  background-size: cover;
  background-position: center;
  width: auto;
  height: 60vw; 
}

.header-h1 {
  margin-top: 30px;
  padding-top: 10px;
  text-align: center;
  font-size: 3vw; 
}

/* Hey guys */

.left-aligned {
  position: relative;
  margin-left: 100px;
  margin-right: 100px; 
  margin-top: 10px;
  padding-bottom: 20px;
}

.h2-left {
  position: absolute;
  left: 50%;
  padding-bottom: 50px;
  transform: translate(-50%, -50%);
  font-size: 4vw;
  color: #494949; 
}

.p-left {
  position: absolute;
  right: 25%;
  font-size: 1.5vw;
  color: #494949;
  font-weight: 100;
  line-height: 1.5; 
  text-align: right;
}


/* Youtubability */

.flex-container {
  display: flex;
  justify-content: center; 
  margin: 9vw; 
}

.text-youtubability {
 font-size: 1.5vw;
 padding-left: 1vw;
 flex-wrap: wrap;
}





/* Grey section */
.grey-area {
  background-color: rgb(73, 70, 70);
  height: 400px;
}


/* Flex container 2 with second text and phone */

.flex-container2 {
  display: flex;
  justify-content: center;
  margin: 9vw; 
}



.text-right {
  font-size: 1.8vw;
  font-weight: 100;
  padding-top: 4vw;
  text-align: right;
}


/* Centered paragraf */

.centered-p {
  padding-left: 9.5vw;
  padding-right: 9.5vw;
  padding-bottom: 2vw;
  text-align: left;
  font-size: 1.8vw;

}



/* Tip of the week */

.flex-container-4 {
  position: relative;
  text-align:center;
  margin-bottom: 0;
  
 }

.section-4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0.5vw;

}
  
.tipoftheweek {
  width: 100%;
  height:auto; 
  }

.h3-tip {
    font-size: 2vw;
  }

.p-tip {
  font-size: 1.5vw;
}


/* Footer */

.footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.footer-address, .footer-social {
  margin: 2rem;
  margin-left: 10vw;
  margin-right: 10vw;
}


/* 375 */ 
@media screen and (max-width: 600px) {

  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-content: center;
  }

  .phone-1 {
    height: 100%;
    width: 100%;
  }

  .h2-left {
    padding-bottom: 1vw;
    left: 40%;
  }

  .p-left {
    font-size: 1.8vw;
    right: 0;
  }

  .text-youtubability, .p-right, .centered-p {
    font-size: 2vw;
  }

  .p-right {
    text-align: left;
  }


  .flex-container2 {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-content: center;
  }

  .phone-2 {
    height: 100%;
    width: 100%;
  }

  .h3-tip {
    font-size: 3vw;
  }

.p-tip {
  font-size: 2vw;
}

.section-4 {
  left: 50%;
  margin: 0.5vw;
  
}


  
}

@media screen and (max-width: 700px) {
.footer {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-size: 3vw;
}

ul {
    padding-inline-start: 0;
}

}

